@using HoneyShop.ViewModels.Admin.ProductManagment
@model AddProductViewModel

@{
    ViewData["Title"] = "Add Product";
}
<div class="card card-info card-outline mb-4">
    <!--begin::Header-->
    <div class="card-header">
        <div class="card-title">Add New Product</div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <form asp-controller="ProductManagment" asp-action="Add" method="post" class="needs-validation" novalidate>
        <!--begin::Body-->
        <div class="card-body">
            <!-- Validation summary for model errors -->
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <!--begin::Row-->
            <div class="row g-3">
                <!--begin::Col-->
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">
                        Product Name
                        <span class="required-indicator sr-only"> (required)</span>
                    </label>
                    <input asp-for="Name" type="text" class="form-control" id="validationCustom01" required placeholder="Please enter product name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">
                        Product Description
                        <span class="required-indicator sr-only"> (required)</span>
                    </label>
                    <input asp-for="Description" type="text" class="form-control" id="validationCustom02" required placeholder="Please enter product description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">
                        Please enter product price
                        <span class="required-indicator sr-only"> (required)</span>
                    </label>
                    <input asp-for="Price" type="text" class="form-control" id="validationCustom03" required>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom04" class="form-label">Category<span class="required-indicator sr-only"> (required)</span></label>
                    <select asp-for="@Model.CategoryId" class="form-select" id="validationCustom04" required asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                        <option selected="" disabled="" value="">Select Category...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label">
                        Product ImageUrl
                        <span class="required-indicator sr-only"> (required)</span>
                    </label>
                    <input asp-for="ImageUrl" type="text" class="form-control" id="validationCustom05" required placeholder="Please enter product image URL">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Is Product Active?</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="IsActive" value="true" id="isActiveTrue">
                            <label class="form-check-label" for="isActiveTrue">Active</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="IsActive" value="false" id="isActiveFalse">
                            <label class="form-check-label" for="isActiveFalse">Not Active</label>
                        </div>
                    </div>
                </fieldset>
                <!--end::Col-->
                <!--begin::Footer-->
                <div class="card-footer">
                    <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-controller="ProductManagment" asp-action="Index"
                       class="btn btn-danger">
                        <i class="fa-solid fa-arrow-left"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <!--end::Footer-->
    </form>
    <!--end::Form-->
    <!--begin::JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener(
                    'submit',
                    event => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    },
                    false
                );
            });
        })();
    </script>
    <!--end::JavaScript-->
</div>